
<div class="container">
    <form id="contact" [formGroup]="form" (ngSubmit)="onSubmit()">
        <h3>Test</h3>
        
        <fieldset>
            <input formControlName="name" [appReadonly]="isReadOnly"   placeholder="Your name" type="text" tabindex="1" required autofocus>
        </fieldset>

        <fieldset>
            <textarea formControlName="addresse"  [appReadonly]="isReadOnly" placeholder="Type your message here...." tabindex="5"
                required></textarea>
        </fieldset>
        <fieldset>
            <input  [appReadonly]="isReadOnly" type="radio" formControlName="gender" value="male"> Male
            <input [appReadonly]="isReadOnly" type="radio" formControlName="gender" value="female"> Female

        </fieldset>
        <fieldset>
            <ng-select [appReadonly]="isReadOnly" [searchable]="false" [items]="city" bindLabel="name" bindValue="name"> </ng-select>
        </fieldset>
        <fieldset>
            <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
        </fieldset>

    </form>
</div>